@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .quill-editor .ql-container {
    @apply min-h-[30vh] box-border overflow-auto;
  }
  .quill-editor .ql-editor {
    @apply min-h-[30vh] max-h-[80vh]; /* Set editor height to 90% of the viewport height */
  }
  .quill-editor .ql-toolbar {
    @apply sticky top-0 z-10 bg-white shadow;
  }
}
